<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <title>Analytics Dashboard</title>
  <style>
    /* Add your custom styles here */
  </style>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto p-8">
    <h1 class="text-2xl font-bold mb-4">Analytics Dashboard</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <a href="/analytics/total-users">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Users</h2>
            <p class="text-3xl font-bold text-blue-600 format-number"><%= stats.totalUsers %></p>
          </div>
        </a>
        <a href="/analytics/total-balance">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Balance</h2>
            <p class="text-3xl font-bold text-green-600">₦<span class="format-number"><%= stats.totalBalance %></span></p>
          </div>
        </a>
        <a href="/analytics/total-deposits">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Deposits</h2>
            <p class="text-3xl font-bold text-yellow-600">₦<span class="format-number"><%= stats.totalDeposits %></span></p>
          </div>
        </a>
        <!-- <a href="/analytics/total-withdrawals">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Withdrawals</h2>
            <p class="text-3xl font-bold text-red-600">₦<span class="format-number"><%= stats.totalWithdrawals %></span></p>
          </div>
        </a> -->
        <a href="/analytics/total-transfers-payments">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Transfers and Payments</h2>
            <p class="text-3xl font-bold text-purple-600">₦<span class="format-number"><%= stats.totalTransfersAndPayments %></span></p>
          </div>
        </a>
        <a href="/analytics/total-transactions">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold mb-2">Total Transactions</h2>
            <p class="text-3xl font-bold text-pink-600 format-number"><%= stats.totalTransactions %></p>
          </div>
        </a>
      </div>
      
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      function numberWithCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      // Access the DOM elements and update the numbers with commas
      const numberElements = document.querySelectorAll('.format-number');
      numberElements.forEach((element) => {
        const number = parseInt(element.textContent.trim());
        if (!isNaN(number)) {
          element.textContent = numberWithCommas(number);
        }
      });
    });
  </script>
</body>

</html>
